{
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 200,
	"tabWidth": 2,
	"useTabs": true,
	"usePrettierrc": true,
	"fileInfoOptions": {
		"withNodeModules": true
	},
	"arrowParens": "avoid",
	"endOfLine": "auto"
}
